body {
  display: grid;
  grid-template-areas: 'header header'
                       'side main'
                       'footer footer';
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #07AAA4;
  text-align: center;

}

aside {
  grid-area: side;
  background-color: #D9A2F2;
}

main {
  grid-area: main;
  background-color: #BFF078;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(3, 30%);
  grid-gap: 4%;
  justify-content: center;
  padding: 20px 0;
}

.main-grid > div {
  background-color: #fff;
  display: grid;
  text-align: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: #F62551;
}

